.pokemons {
  padding-top: 120px;
  width: 50%;
  margin: 0 auto;
}

.image-box {
  max-width: 100px;
}

.loading {
  width: 6rem;
  height: 6rem;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .pokemons {
    width: 100%;
  }
}
