<div class="pokemons">
  <h2 class="text-white">Lista de Cartas Pokemon</h2>
  <input type="text" class="form-control my-1" aria-describedby="filterPokemonList" placeholder="Buscar carta..."
    (keyup)="searchPokemon($event.target.value)">
  <div *ngIf="!isLoading">
    <ul class="list-group d-flex" *ngFor="let pokemon of filteredPokemons">
      <a [routerLink]="['/pokemon-details/', pokemon.id]" class="list-group-item d-flex list-group-item-action">
        <div class="image-box">
          <img [src]="pokemon.imageUrl" class="img-fluid" alt="{{pokemon.name}}">
        </div>
        <div class="pokemon-info ml-2">
          <h5>{{pokemon.name}}</h5>
          <p *ngIf="pokemon.nationalPokedexNumber">Pokemon ID: {{pokemon.nationalPokedexNumber}}</p>
          <span class="badge badge-secondary" *ngFor="let type of pokemon.types">{{type}}</span>
        </div>
      </a>
    </ul>
  </div>
</div>

<!-- LOADING SPINNER -->
<app-spinner *ngIf="isLoading" [text]="'Carregando Pokemons...'"></app-spinner>
