.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .home-box {
    padding: 20px;
    background-color: #f7f7f7;
    text-align: center;
    border-radius: 5px;
  }
}
