/* You can add global styles to this file, and also import other style files */
// DEFAULT
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
    url(./assets/img/main-bg.png) no-repeat center;
  background-size: cover;
}
